:root{
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300&display=swap'); 
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
    }
    
    .container{
      height:320px;
      width:250px;
      background-color:white;
      border-radius:10px;
      padding-bottom:6px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      display:inline-block;
      margin-right:16px;
      margin-bottom:16px;
      margin-top:5px;
      transition: transform 0.3s;
    }
    .cat{
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        transition:transform 0.3s;
      }
    .details{
        padding:0 0 5px 10px;
      }
      
.container:hover{
    cursor:pointer;
    transform : scale(1.05);
    background-color:crimson; 
   color:white;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.5);
  }
  
  .flag:hover{
    cursor:pointer;
  /*   transform:rotate(360deg); */
  }